  <md-toolbar color="primary">
    <h1>Brown County Library Events</h1>                                        
  </md-toolbar>
    <md-toolbar-row>
    <button md-icon-button (click)="sidenav.toggle()">
        <md-icon class="md-24">menu</md-icon>
    </button>
  </md-toolbar-row>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="push" class="app-sidenav" md-is-locked-open color="accent">
      <md-nav-list>
        <md-list>
          <md-list-item><a md-list-item routerLink="events" routerLinkActive="menu-active">Events</a></md-list-item>
          <md-list-item><a md-list-item routerLink="instructors" routerLinkActive="menu-active">Instructors</a></md-list-item>
          <md-list-item><a md-list-item routerLink="scheduled-events" routerLinkActive="menu-active">Scheduled Events</a></md-list-item>
        </md-list>
      </md-nav-list>
    </md-sidenav>

    <div layout="column" layout-md="column" style="width: 800px; padding-left: 150px;">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
  






























